{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/form.css')}}>
    <link rel="stylesheet" href={{asset('css/sessionEdit.css')}}>
{% endblock %}

{% block javascripts %}
    <script src={{asset('js/sessionForm.js')}} defer></script>
{% endblock %}

{% set operation = isEdit ? "Edit" : "Add" %}

{% block title %} {{operation}} Session Panel {% endblock %}
{% block pageTitle %} {{operation}} Session Panel {% endblock %}
{% block pageDesc %} 
    {{isEdit ? 
        "This is the page where you edit a session."
        :
        "This is the page where you add a session."
    }} 
{% endblock %}

{% block body %}
    <div class="add-edit-container">
        <div class="sidebar-form">
            <h2>
                <i class="fa-regular fa-file-lines"></i>
                <span>{{operation}} a session</span>
            </h2>
            <p class="description">
            {{isEdit ? 
                "Edit a session by updating its general informations, interns and modules."
                :
                'Add a session by specifying its general informations, interns and modules.'
            }}
             </p>
            <hr />
            <div class="navigation">
                <button class="nav-button active" data-target='infos'>
                    <i class="fa-solid fa-bars-staggered"></i>
                    <span>Informations</span>
                </button>
                {% if isEdit %}
                    <button class="nav-button" data-target='interns'>
                        <i class="fa-solid fa-user-plus"></i>
                        <span>Interns</span>
                    </button>
                    <button class="nav-button" data-target='modules'>
                        <i class="fa-solid fa-dice-d6"></i>
                        <span>Modules</span>
                    </button>
                {% endif %}
                
            </div>
        </div>
        <div class="form-container">
                <div class="inner-form">
                    <div data-trigger="infos" class="visible">
                     {{ form_start(sessionForm) }}
                        <div class="section">
                            <div class="form-group">
                                <label for="name">Name</label>
                                {{ form_widget(sessionForm.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="beginDate">Starting date<label>
                                    {{ form_widget(sessionForm.beginDate, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="endDate">Ending Date</label>
                                    {{ form_widget(sessionForm.endDate, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="places">Places</label>
                                {{ form_widget(sessionForm.places, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="trainer">Trainer</label>
                                    {{ form_widget(sessionForm.trainer, {'attr': {'class': 'form-control'}}) }}
                                    <p class="input-info">Can't find your trainer ? <a href={{path('trainer_add')}}>Add one</a></p>
                                </div>
                                <div class="form-group">
                                    <label for="trainer">Training</label>
                                    {{ form_widget(sessionForm.training, {'attr': {'class': 'form-control'}}) }}
                                    <p class="input-info">Can't find your training ? <a href={{path('training_add')}}>Add one</a></p>
                                </div>
                            </div>
                        </div>
                         <div class="actions">
                            <a class="btn cancel" href={{path("session_index")}}>Cancel</a>
                            {{ form_widget(sessionForm.confirm) }}
                        </div>
                        {{ form_end(sessionForm) }}
                    </div>
                    {% if isEdit %} 
                    <div data-trigger="interns" class="interns-container">
                        <div class="column enrolled">
                            <h3>Enrolled Interns</h3>
                            <ul class="intern-list">
                                {% for intern in session.interns %}
                                    <li>
                                        <span>{{ intern.firstName }} {{ intern.lastName }}</span>
                                        <a 
                                        href={{path("session_removeIntern", {
                                            session: session.id,
                                            intern: intern.id
                                        })}} 
                                        class="unenroll-intern"
                                        >
                                            <i class="fa-solid fa-user-minus"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>No interns enrolled yet.</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="column not-enrolled">
                            <h3>Available Interns</h3>
                            <ul class="intern-list">
                                {% for intern in availableInterns %}
                                    <li>
                                        <span>{{ intern.firstName }} {{ intern.lastName }}</span>
                                        <a 
                                        href={{path("session_addIntern", {
                                            session: session.id,
                                            intern: intern.id
                                        })}} 
                                        class="enroll-intern"
                                        >
                                            <i class="fa-solid fa-user-plus"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>No available interns.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div data-trigger="modules" class="modules-container">
                        <div class="section">
                            <h3>Add a module</h3>
                            <div class="add-module-form">
                                <form action="{{ path('session_addProgram', {'session': session.id}) }}" method="POST">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <label for="module">Module</label>
                                            <select name="module" class="form-control">
                                                {% for module in availableModules %}
                                                    <option value="{{ module.id }}">{{ module.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-row">
                                            <label for="totaldays">Days</label>
                                            <input type="number" name="totaldays" value="1" min="1" class="form-control days-input">
                                        </div>
                                    </div>
                                    <button type="submit" class="add-module-btn"> <i class="fa-solid fa-plus"></i> Add </button>
                                </form>
                            </div>
                        </div>
                        <div class="section">
                            <h3>Session's modules</h3>
                            <div class="module-list">
                                {% for program in session.programs %}
                                    <div class="module-row">
                                        <form action="{{ path('session_editProgram', {'session': session.id, 'program': program.id}) }}" method="POST" class="module-form">
                                            <span class="module-name">{{ program.module.name }}</span>
                                            <div class="module-days">
                                                <input type="number" name="totaldays" value="{{ program.totaldays }}" min="1" class="form-control days-input">
                                                <span>days</span>
                                            </div>
                                            <button type="submit" class="form-action btn-update">Update</button>
                                            <a href="{{ path('session_removeProgram', {'program': program.id}) }}" class="form-action btn-remove">Remove</a>
                                        </form>
                                    </div>
                                {% else %}
                                    <p>No modules added to this session yet.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock %}
