{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/sessions.css')}}>
{% endblock %}

{% block javascripts %}
    <script src={{asset('js/sessionPanel.js')}} defer></script>
{% endblock %}

{% block title %} Sessions Panel {% endblock %}
{% block pageTitle %} Sessions Panel {% endblock %}
{% block pageDesc %} This is the page where you add, create, delete and list the sessions  {% endblock %}

{% block body %}
    {% include "components/search-filter.html.twig" with {
            entity: "session",     
            button_label: "Add a session",
            button_class: "fa-regular fa-calendar-plus"
    }%}
    <div class="sessions-grid">
        {% for session in sessions %}
            <div class="session-card"
                data-session-id={{session.id}} 
                data-name="{{session.name}}"
                style="view-transition-name: session-card-{{session.id}}"
            >
                <div class="header">
                    {{include('components/status-bubble.html.twig', {status: session.status})}}
                    <i class="fa-solid fa-ellipsis-vertical actions"></i>
                </div>
                <h3>{{session.name}}</h3>
                <hr>
                <div class="infos">
                    <div class="left">  
                        <div class="item">
                            <i class="fa-solid fa-hourglass-end"></i>
                            <span>{{session.totaldays}}d</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>{{session.begindate|date('m/d/Y')}}</span>
                        </div>
                    </div>
                    <div class="right">
                        <div class="item">
                            <i class="fa-solid fa-user"></i>
                            <span>{{session.interns|length}}</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-database"></i>
                            <span>{{session.programs|length}}</span>
                        </div>
                    </div>
                </div>   
            </div>
        {% endfor %}
    </div>
{% endblock %}
