{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/userTable.css')}}>
    <link rel="stylesheet" href={{asset('css/intern.css')}}>
{% endblock %}

{% block javascripts %}
    <script src={{asset('js/internPanel.js')}} defer></script>
{% endblock %}

{% block title %} Interns Panel {% endblock %}
{% block pageTitle %} Interns Panel {% endblock %}
{% block pageDesc %} This is the page where you add, create, delete and list the interns  {% endblock %}

{% block body %}
    <div class="table-container">
        {% include "components/search-filter.html.twig" with {
            entity: "intern",     
            button_label: "Add an Intern",
            button_class: "fa-solid fa-user-plus"     
        }%}
        <table class="user-table">
            <thead>
                <tr>
                    <th data-table-id >ID</th>
                    <th data-table-name>Name</th>
                    <th data-table-age>Age</th>
                    <th data-table-genre>Genre</th>
                    <th data-table-city>City</th>
                    <th data-table-phone>Phone</th>
                    <th data-table-sessions>Sessions</th>
                    <th data-table-status>Status</th>
                    <th data-table-actions>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for intern in interns %}
                <tr 
                    data-intern-id={{intern.id}} 
                    data-name="{{intern.fullname}}"
                    data-genre="{{intern.genre}}"
                    data-status="{{intern.sessionstatus.class}}"
                    style="view-transition-name: intern-row-{{intern.id}}"
                >
                    <td>{{intern.id}}</td>
                    <td>{{intern.fullname}}</td>
                    <td>{{intern.age}}</td>
                    <td>{{intern.genre}}</td>
                    <td>{{intern.city}}</td>
                    <td>{{intern.phone}}</td>
                    <td>{{intern.sessions|length}}</td>
                    <td>
                        {{include('components/status-bubble.html.twig', {status: intern.sessionstatus})}}
                    </td>
                    <td class="actions">
                        <a class="action-row edit" href={{path('intern_edit', {id: intern.id})}}>
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a class="action-row delete" href={{path('intern_delete', {id: intern.id})}}>
                            <i class="fa-solid fa-trash"></i>
                        </a>                            
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
