{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/form.css')}}>
{% endblock %}

{% block javascripts %}
    
{% endblock %}

{% set operation = isEdit ? "Edit" : "Add" %}

{% block title %} {{operation}} Training Panel {% endblock %}
{% block pageTitle %} {{operation}} Training Panel {% endblock %}
{% block pageDesc %} 
    {{isEdit ? 
        "This is the page where you edit a training."
        :
        "This is the page where you add a training."
    }} 
{% endblock %}

{% block body %}
    <div class="add-edit-container">
        <div class="sidebar-form">
            <h2>
                <i class="fa-regular fa-file-lines"></i>
                <span>{{operation}} a training</span>
            </h2>
            <p class="description">
            {{isEdit ? 
                "Edit a training by updating its name and it's related sessions"
                :
                "Add a training by specifying its name and it's related sessions"
            }}
             </p>
            <hr />
            <div class="navigation">
                <button class="nav-button active" data-target='infos'>
                    <i class="fa-solid fa-bars-staggered"></i>
                    <span>Informations</span>
                </button>
            </div>
        </div>
        <div class="form-container">
            {{ form_start(trainingForm) }}
            <div class="inner-form">
                <div class="section">
                    <div class="form-group">
                        <label for="name">Name</label>
                        {{ form_widget(trainingForm.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="actions">
                <a class="btn cancel" href={{path("training_index")}}>Cancel</a>
                {{ form_widget(trainingForm.confirm) }}
            </div>
            {{ form_end(trainingForm) }}
        </div>
    </div>
{% endblock %}
